{% extends 'shared/_layout.html' %}
{% block title %}فراموشی کلمه عبور  {% endblock %}
{% block content %}
<div class="text-center">

    <form action="{% url 'forget_password_page' %}" method="post" dir="rtl">
        {% csrf_token %}
        <div class=" container">
            <div class="mt-5 mb-5  ">
                <h1 class="register-page-title-text">فراموشی کلمه عبور </h1>
                <p class="register-page-sub-text mt-2">لطفا اطلاعات خود را به منظور بازیابی کلمه عبور در سایت وارد کنید. </p>
                <hr class="">
                <div class="register-page-label">
                {{ forget_pass_form.phone.label_tag }}
                    </div>
                <div class="register-page-input">
                {{ forget_pass_form.phone }}
                </div>
                <div class="text-danger">
                {{ forget_pass_form.errors }}
                </div>
                <hr class=" ">
                <div class="register-button">
                <button class="btn hvr-hover registered-done-page-link mb-5 mt-5 yekan-font disabled" id="" type="submit" style="pointer-events: all; cursor: pointer;">بازیابی کلمه عبور  </button>
                    </div>
                      {% if messages %}
    <div class="text-center yekan-font alert alert-danger container mt-3">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
</div>

            </div>
        </div>

    </form>
</div>

{% endblock %}