{% extends 'shared/_layout.html' %}
{% block title %}فراموشی کلمه عبور  {% endblock %}
{% block content %}
<div class="text-center">

    <form action="{% url 'forget_password_page' %}" method="post" dir="rtl">
        {% csrf_token %}
        <div class=" container">
            <div class="mt-5 mb-5  ">
                <h1 class="register-page-title-text">فراموشی کلمه عبور </h1>
                <p class="register-page-sub-text mt-2">لطفا اطلاعات خود را به منظور بازیابی کلمه عبور در سایت وارد کنید. </p>
                <hr class="">
                <div class="register-page-label">
                {{ forget_pass_form.phone.label_tag }}
                    </div>
                <div class="register-page-input">
                {{ forget_pass_form.phone }}
                </div>
                <div class="text-danger">
                {{ forget_pass_form.errors }}
                </div>
                <div class="register-button">
                <button class="btn btn-primary btn-lg w-100 mb-5 mt-5 yekan-font" type="submit" style="background-color: #007bff; border-color: #007bff; padding: 12px 24px; font-size: 16px; border-radius: 8px;">بازیابی کلمه عبور</button>
                    </div>
                    
                    <div class="text-center mt-3">
                        <a href="{% url 'login_page' %}" class="text-muted">بازگشت به ورود</a>
                    </div>
                      {% if messages %}
    <div class="text-center yekan-font alert alert-info container mt-3">
        {% for message in messages %}
            {% if 'کد تایید به شماره موبایل' in message or 'ارسال شد' in message %}
                {{ message }}
            {% endif %}
        {% endfor %}
        {% endif %}
</div>

            </div>
        </div>

    </form>
</div>

{% endblock %}