{% extends 'shared/_layout.html' %}
{% block title %} ورود به حساب کاربری {% endblock %}
{% block content %}

<div class="sign__wrapper white-bg" dir="rtl">
    <div class="sign__header mb-35 text-center">
        <h4 class="mb-3">ورود</h4>
        <p>با شماره موبایل و کلمه عبور وارد شوید</p>
    </div>

    {% if messages %}
        <div class="alert alert-{{ messages.0.tags }} text-center">{{ messages.0 }}</div>
    {% endif %}

    <div class="sign__form">
        <form method="post" action="{% url 'login_page' %}">
            {% csrf_token %}

            {{ login_form.phone.label_tag }}
            {{ login_form.phone }}

            {{ login_form.password.label_tag }}
            {{ login_form.password }}

            {% for field in login_form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}

            <button class="btn-tp w-100 mt-3">ورود</button>
            
            <div class="text-center mt-3">
                <a href="{% url 'forget_password_page' %}" class="text-muted">فراموشی کلمه عبور</a>
            </div>
            
            <div class="sign__new text-center mt-3">
                <p>حساب ندارید؟ <a href="{% url 'register_page' %}">ثبت نام</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}
