{% extends 'shared/_layout.html' %}
{% block title %} قوانین و مقررات سایت ابزار محک اصفهان  {% endblock %}
{% block content %}
    <div class="text-center mt-5 mb-5">
    <img src="../../../static/images/logo-logo.jpg" alt="">
        </div>

<div class="terms-and-policy text-center border yekan-font-third container mt-5 mb-5 " dir="rtl">

قوانین و مقررات استفاده از فروشگاه اینترنتی ابزار اصفهان
    <br>


استفاده شما از فروشگاه اینترنتی “ابزار اصفهان” و سفارش کالا از این پایگاه به معنی توافق کامل شما با شرایط و ضوابط ذیل تلقی می گردد:
<br>
خرید کالا از فروشگاه اینترنتی “ابزار اصفهان” بر مبنای قوانین و آئین نامه های موجود در مورد تجارت الکترونیک و با رعایت کامل تمام قوانین جمهوری اسلامی ایران صورت می پذیرد.

اطلاعات و مشخصات کالاهای عرضه شده در فروشگاه اینترنتی “ابزار اصفهان” از منابع زیر تامین می‌شود:
<br>
1- اطلاعاتی که توسط نمایندگی های کالا ارائه می‌شوند.
<br>
2- اطلاعاتی که از سایت‌های معتبر خارجی ترجمه می‌شوند.
<br>
از این رو فروشگاه اینترنتی “ابزار اصفهان” هیچ مسئولیتی در قبال اطلاعات و محتوای مبهم و یا خطاهای نگارشی احتمالی برعهده نخواهد داشت.
    ولی با هدف ارائه خدمات بهتر و آگاه‌سازی مشتریان، خود را در بروزرسانی مداوم اطلاعات و محتویات متعهد می‌داند.

فروشگاه اینترنتی “ابزار اصفهان” هیچ گونه مسئولیتی را در مورد کارکرد سایت که می تواند ناشى از عواملی که خارج از سیطره مدیریت این فروشگاه  باشند ( همانند نقص اینترنت، مسائل مخابراتى، تجهیزات سخت افزاری و غیره) نمی پذیرد.<br>

فروشگاه اینترنتی “ابزار اصفهان” به هیچ وجه اطلاعات منحصر بفرد کاربران را به اشخاص و طرفین غیر، واگذار نخواهد کرد و ضمنا با استفاده از آخرین فن آوری ها متعهد است حتی المقدور از حریم شخصی کاربران دفاع کند.

خدمات و محتویات سایت، صرفا براى استفاده شخصى و غیر تجارى شما عرضه شده است. هر گونه سوء استفاده از این اطلاعات پیگرد قانونی خواهد داشت و هیچ فرد حقیقی، حقوقی یا سایتی به هیچ عنوان نمی تواند از اطلاعات و محتویات موجود در سایت براى فروش، تولید مجدد یا ایجاد ترافیک در سایت خود استفاده نماید.
    .اگر مایلید از سرویسها و محتویات سایت جهت مقاصد تجارى استفاده نمایید ، لازم است از قبل به ما اطلاع دهید. براى این کار لطفا با ما تماس بگیرید<br>

کاربران باید هنگام سفارش کالای مورد نظر خود، فرم سفارش را با اطلاعات صحیح و به طور کامل پر نمایند. بدیهی است درصورت ورود اطلاعات ناقص یا نادرست، سفارش کاربر قابل پیگیری و تحویل نخواهد بود.

مالکیت معنوی محتویات فروشگاه اینترنتی “ابزار اصفهان” شامل قانون حق تکثیر بوده و متعلق به فروشگاه اینترنتی “ابزار اصفهان”می باشد.<br>

فروش و تحویل سفارش در صورتی که ابزار محک اصفهان به دلایلی خارج از اراده و اختیار خود، توان تحویل کالا در موعد مقرر را نداشته باشد و طرفین درباره یک موعد جدید به توافق نرسند، خریدار حق دارد بدون هیچگونه هزینه ای سفارش را فسخ نماید.<br>

ارزش کالا یا کالاهای سفارش داده شده طبق فهرست قیمت سایت محاسبه شده و شامل کلیه مالیات ها و عوارض فروش خواهد بود. هزینه مالیات بر ارزش افزوده در صورت عدم قید شدن در سایت صفر ریال محاسبه خواهئ شد. تنها مبلغی که در موارد معین به ارزش کالا اضافه می شود، هزینه ارسال و بیمه کالا خواهد بود.<br>

مدت گارانتی و نام شرکت ارائه دهنده خدمات پس از فروش در قسمت توضیحات هر کالا ذکر شده است. در صورت عدم درج موارد مذکور در این قسمت، گارانتی برای آن کالا وجود ندارد.

شرایط برگشت کالا:

هرگونه نقص و عیب فنی کالا، باید در مدت 48 ساعت پس از دریافت کالا حتی در روزهای تعطیل از طریق شماره تلفن درج شده در بالای وب سایت و یا فرم  “تماس با ما“ به مرکز ارتباط مشتریان فروشگاه اطلاع داده شود تا مشکل فوراً بررسی و در صورت اثبات نقص، تعمیر یا جایگزین گردد.<br> بدیهی است پس از 48 ساعت هیچ اعتراضی پذیرفتنی نیست.<br>(خاطرنشان می سازد این بند فقط برای کالاهای فاقد گارانتی صدق خواهد کرد و کالاهای دارای گارانتی از لحظه فروش مشمول ضمانت بوده و نقایص احتمالی توسط شرکت ارائه کننده گارانتی پیگیری میگردد)

در صورتی که فرد خریدار بخواهد وجه کالا را به طور ناقص پرداخت کند کالا بدون هماهنگی، توسط پیک برگشت خواهد خورد و هزینه ارسال نیز عودت داده نخواهد شد.<br>

خریدار به مدت 7 روز کاری فرصت دارد از سفارش خود انصراف دهد، به شرط آنکه بسته بندی کالایی باز نشده و از آن هیچ گونه استفاده‌ای نشده باشد. لازم به ذکر است هزینه پست و بیمه به عهده خریدار میباشد.<br>

این انصراف برای کالاهای زیر امکان پذیر نمی باشد:

– کالاهایی که قیمت آنها توسط نوسانات بازارهای مالی و ارزی تعیین می شود.<br>
– کالا های ابزار دقیق و اندازه گیری که از حساسیت خاصی برخوردار هستند.<br>
– با توجه به شرایط کالا، کالا های با قیمت بالای 500000 تومان برای این گروه از کالا نیاز به دریافت پیش پرداخت می باشد. پس از دریافت پیش پرداخت و تایید سفارش امکان انصراف از خرید تحت هیچ شرایطی مقدور نمی باشد.<br> و در صورت انصراف از خرید، بیعانه به مشتری عودت داده نخواهد شد.

عدم انطباق کالای ارسال شده با سفارش شما، در مدت 24 ساعت پس از دریافت کالا حتی در روزهای تعطیل از طریق شماره تلفن درج شده در بالای وب سایت و یا فرم  “تماس با ما ” به مرکز ارتباط مشتریان فروشگاه اطلاع داده شود تا مشکل فوراً بررسی و در صورت اثبات، کالا بدون دریافت هیچ هزینه ای مجددا برای شما ارسال شود.<br> بدیهی است عدم اطلاع رسانی پس از 24 ساعت، به معنای صحت اقلام دریافتی است.
    <hr class="mt-5">
<blockquote>
    با تشکر.<br>
    فروشگاه ابزار اصفهان
</blockquote>
</div>
{% endblock %}