{% extends 'shared/_layout.html' %}
{% block title %} کلمه عبور جدید {% endblock %}
{% block content %}
<div class="text-center yekan-font">

    <form action="{% url 'verification_reset_password_page' %}" method="post" dir="rtl">
        {% csrf_token %}
        <div class=" container">
            <div class="mt-5 mb-5  ">
                <h1 class="register-page-title-text yekan-font">کد تایید پیامک شده را وارد کنید </h1>
{#                <p class="register-page-sub-text mt-2 yekan-font">لطفا کلمه عبور  جدید  خود را وارد کنید. </p>#}


                <div class="register-page-input yekan-font">
                {{ verify_form.otp }}

                </div>
{#                <div class="text-danger">#}
{#                {{ reset_pass_form.errors }}#}
{#                </div>#}
                <div class="register-button">
                     <hr class="mt-4 mb-4">
                <button class="btn btn-primary btn-lg w-100 mb-5 mt-5 yekan-font" type="submit" style="background-color: #007bff; border-color: #007bff; padding: 12px 24px; font-size: 16px; border-radius: 8px;">تایید کد</button>

                    </div>
                    
                    <div class="text-center mt-3">
                        <a href="{% url 'login_page' %}" class="text-muted">بازگشت به ورود</a>
                    </div>


            </div>

    <div class="yekan-font ">
<div>
                {% if messages %}
                    <div class="d-flex justify-content-center alert alert-danger container">
        {% for message in messages %}
        {{ message }}
        {% endfor %}

    {% endif %}
        </div>
    </div>
</div>
        </div>
    </form>
</div>

{% endblock %}