{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% block title %}

{% endblock  %}
{% block content %}
     <div class="d-flex justify-content-center mt-5 mb-5 yekan-font">
<table style="width:80%; border: 2px solid black" dir="rtl">
  <tr style="border: 2px solid black">
    <th style="border: 2px solid black" class="text-center">شناسه</th>
    <th style="border: 2px solid black" class="text-center">نام محصول </th>
    <th style="border: 2px solid black" class="text-center">تعداد</th>
      <th style="border: 2px solid black" class="text-center">قیمت نهایی محصول </th>


  </tr>
     {% for detail in order.orderdetail_set.all %}
  <tr style="border: 2px solid black">
    <td style="border: 2px solid black" class="text-center">{{ detail.id }}</td>
    <td style="border: 2px solid black" class="text-center">{{ detail.product.title }}</td>
    <td style="border: 2px solid black" class="text-center">{{ detail.count }}</td>
    <td style="border: 2px solid black" class="text-center">{{ detail.final_price|three_digits_currency }}</td>

  </tr>
    {% endfor %}
</table>
    </div>
{% endblock  %}