{% extends 'shared/_layout.html' %}
{% load crispy_forms_tags %}
{% block title %}ارسال تصاویر برای مدیریت{% endblock %}

{% block content %}
<div class="container mt-5 mb-5" dir="rtl">
    <div class="text-center mb-4">
        <h3>ارسال تصاویر برای مدیریت</h3>
        <p class="text-muted">شما می‌توانید دو تصویر بارگذاری کنید (حداکثر ۲ مگابایت برای هر تصویر)</p>
    </div>

    <form method="post" enctype="multipart/form-data" class="w-50 mx-auto">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="mb-3">
            {{ form.image_1.label_tag }}
            {{ form.image_1 }}
            {% if form.image_1.errors %}
                <div class="text-danger">{{ form.image_1.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.image_2.label_tag }}
            {{ form.image_2 }}
            {% if form.image_2.errors %}
                <div class="text-danger">{{ form.image_2.errors.0 }}</div>
            {% endif %}
        </div>
        <button  type="submit" class="w-100 select-btn">ارسال</button>
    </form>
</div>
{% endblock %}
