{% extends 'shared/_layout.html' %}
{% block title %} تغییر کلمه عبور  {% endblock %}
{% block content %}
{% if success_message %}
<div class="alert alert-success text-center mt-4">
    {{ success_message }}
</div>
{% endif %}


 <div class="text-right container mt-5 mb-5 " dir="rtl">
    {% if form.errors %}
        {% for field in form.fields %}
            {% for error in field.error %}
                <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
     {% endfor %}
     {% endfor %}
     {% endif  %}
    <form action="{% url 'change_password_page_urls' %}" method="post">
        {% csrf_token %}
        <div class="font-weight-bold mb-3 ">
            {{ form.current_password.label }}
        </div>
        {{ form.current_password }}
        <div class="font-weight-bold mb-3 mt-3">
            {{ form.password.label }}
        </div>
        {{ form.password }}
        <div class="font-weight-bold mb-3 mt-3">
            {{ form.confirm_password.label }}
        </div>
        {{ form.confirm_password }}
        <div class={% if form.errors %}"alert-danger alert mt-5" {% endif %}>
       {% if form.errors %} کلمه عبور وارد شده صحیح نمی باشد  {% endif %}

            </div>
        <div class="submit-button text-center mt-5">
            <button class="btn hvr-hover disabled" id="" type="submit" style="pointer-events: all; cursor: pointer;">ثبت
            </button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>



{% endblock %}