{% extends 'shared/_layout.html' %}
{% block content %}
<section class="blog-details-area py-5" dir="rtl">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Main Blog Column -->
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="blog-wrapper px-3 px-md-0">
                    <!-- Blog Image -->
                    <div class="blog-thumb mb-4">
                        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid w-100 rounded">
                    </div>

                    <!-- Blog Meta -->
                    <div class="text-center mb-3">
                        <ul class="list-inline blog-meta">
                            <li class="list-inline-item text-muted">
                                <i class="fal fa-clock"></i> {{ blog.get_jalali_date }}
                            </li>
                        </ul>
                    </div>

                    <!-- Blog Title -->
                    <h3 class="blog-title text-center mb-4 fw-bold">{{ blog.title }}</h3>

                    <!-- Blog Description -->
                    <div class="blog-details">
                        <p class="text-justify lh-lg" style="white-space: pre-line;">
                            {{ blog.full_description|linebreaks }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
